.form-box2 {
    /* display: flex; */
      position: absolute;
      top: 40px;
    left: 900px;
      width: 320px;
      height: 510px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border-radius: 29px;
      opacity: 1;
    }
    
    .top {
      display: flex;
      justify-content: space-around;
      font: normal normal bold 16px/22px Open Sans;
      margin: 20px;
      border-bottom: 1px solid rgb(213, 207, 207);
    }
    
    .heading {
      color: #1b2734;
      margin-left: 25px;
      margin-top: 5px;
    }
    .input {
    
      font-size: large;
      padding: 2px;
      margin-top: 1px;
      margin-left: 25px;
     
    }
    
    button {
      width: 100px;
      height: 40px;
      background: #4e94f4 0% 0% no-repeat padding-box;
      border-radius: 8px;
      opacity: 1;
      color: #ffffff;
      border: none;
      
    }
    .forget {
      display: flex;
      justify-content: flex-end;
      padding-right: 40px;
      margin-top: 30px;
    }
    .footer {
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
    }
    
    .create {
      font-size: large;
    }
    
    .Logo{
      color: white;
      font-size: 32px;
      margin: 15px 40px;
  }
  
  .Text{
    color: black;
    font-size: 45px;
    position: absolute;
    top: 190px;
    left: 85px;
  }
    
    .regbutton {
        width: 100px;
        height: 40px;
        background: #4e94f4 0% 0% no-repeat padding-box;
        border-radius: 8px;
        opacity: 1;
        color: #ffffff;
        border: none;
        /* margin: 0px 0px; */
        position: relative;
        top: -29px;
        left: 187px;
    }
    
    .regfooter {
      /* display: flex; */
      /* justify-content: space-around; */
      margin-top: 10px;
    }
    
    .signin{
        font-size: medium;
        color: blue;
        /* margin: 22px 25px; */
        position: relative;
        margin-top: 25px;
        left: 31px;
    }